body {
    background-color: #eff2f6;
}

.text-justify {
    text-align: justify;
}

.avatar-sm {
    width: 32px;
    height: 32px;
}

.avatar-md {
    width: 75px;
    height: 75px;
}

.avatar-lg {
    width: 150px;
    height: 150px;
}
